/*

PRODUCT  : DRAWER,
DEVELOPER: AIM MIKEL,
MODIFIED : 03/10/2020,
LICENSE  : MIT,
COPYRIGHT: 2020 AIM MIKEL

___________________OFFICIAL LOGO___________________
___________________________________________________
_________________________0_________________________
________________________000________________________
_______________________00000_______________________
______________________0000000______________________
________________0____0000_0000____0________________
_______________000__0000___0000__000_______________
______________0000 0000_____0000 0000______________
_____________0000 0000_______0000 0000_____________
____________0000 0000_________0000 0000____________
___________0000 0000 0______ 0 0000 0000___________
__________0000 0000 000_____000 0000 0000__________
_________0000 0000__0000___0000__0000 0000_________
_____________0000____0000_0000____0000_____________
____________0000______0000000______0000____________
___________0000________00000________0000___________
__________0000__________000__________0000__________
_________________________0_________________________
___________________________________________________
*/

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

body {
  font-size: 15px;
  line-height: 18px;
  cursor: default;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: yellow;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 60px;
  background: #cccccc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 900;
  min-width: 700px;
}

.body {
  position: fixed;
  top: 100px;
  left: 20px;
  right: 20px;
  bottom: 110px;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  display: flex;
}
.body canvas {
  width: 23%;
  height: 100%;
  background: #cccccc;
  border-radius: 15px;
  cursor: crosshair;
}
.body canvas:not(:first-of-type) {
  margin-left: 20px;
}

footer {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 70px;
  min-width: 700px;
}

footer h3 {
  padding: 0 20px;
}
footer form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
footer form input {
  display: block;
  height: 40px;
  border-radius: 15px;
  background: #cccccc;
  padding: 0 20px;
  margin-right: 30px;
  flex-grow: 1;
}
footer form button {
  display: block;
  height: 40px;
  border-radius: 15px;
  background: #cccccc;
  padding: 0 30px;
}
