<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <script src="https://kit.fontawesome.com/bbab150638.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers Tutor</title>
</head>
<body>
    <main>
        <div class="write-numbers">
            <h4>Write Numbers</h4>
            <div class="text">
                <a href="{{ url_for('write') }}"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
        <div class="line">
    
        </div>
        <div class="speak-numbers">
            <h4>Speak Numbers</h4>
            <div class="text">
                <a href="{{ url_for('say') }}"><i class="fas fa-microphone"></i></a>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>