<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <script src="https://kit.fontawesome.com/bbab150638.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say</title>
</head>
<body>
    <main class="content">
        <div class="question-section">
            <h6>
                {% if question %}
                    {{ question }}
                {%  endif %}
            </h6>
        </div>
        <div class="speak-section">
            <button class="record fas fa-microphone">
            </button>
             <button class="stop">Stop</button>
        </div>
        <div class="answer-section">
            <h2>Answer</h2>
            <h3>
                {{ answer }}
            </h3>
            <button class="send"> Next
                
            </button>
        </div>
    </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/say.js') }}"></script>
</body>
</html>