<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Tutor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="bg">
        
        <h2>Number Tutor</h2>
        <div class="buttons">
            <a href="./html/write.html" class="btn">Write</a>
            <a href="./html/voice.html" class="btn">Voice</a>
        </div>
    </main>
</body>
</html> 